body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #80ffae;
}

.navigation_wrapper {
    display: flex;
    justify-content: center;
}

.navigation {
    display: flex;
}

.navigation_item {
    background-color: greenyellow;
    margin: 2px;
    padding: 15px;
    border-radius: 25px;
    border: 2px transparent solid;
}

.navigation_item:hover {
    border: 2px black solid;
    background-color: lightgray;
    color: black;
    transition: 0.3s;
}

.navigation_link {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    color: black;
    text-decoration: none;
}

.active {
    background-color: green;
    color: white;
}

.content_wrapper {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    background-color: white;

    border-radius: 50px;
}

@media (max-width: 1250px){
    .content_wrapper{
        margin-left: 0px;
        margin-right: 0px;
        border-radius: 25px;
    }
}